$blueMain: rgb(17, 50, 100);
$darkerBlue: rgb(10, 31, 63);
$purpleMain: rgb(19, 6, 65);
$bgColor: rgb(245, 248, 250);

$navBgColor: $blueMain;
$navText: $bgColor;

$cardBgColor: rgb(219, 210, 210);
$cardText: $bgColor;
